@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.button{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-api{
  margin-top:18px;
  padding: 10px 80px;
  border: 1px solid #b4161b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b4161b21;
  
}
.btn-api:hover{
  background-color: rgb(202, 18, 18);
}
.btn-api1{
  margin-top:18px;
  padding: 10px 80px;
  border: 1px solid #b4161b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b4161b21;
  text-decoration:none;
  color: aliceblue;
}
.btn-api1:hover{
  background-color: rgb(202, 18, 18);
}